<section class="student-details">
  <h2>Student Details</h2>

  <table>
    <tr>
      <th>Student ID</th>
      <td>: {{ currentStudent?.id }}</td>
    </tr>
    <tr>
      <th>First Name</th>
      <td>: {{ currentStudent?.firstName }}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>: {{ currentStudent?.lastName }}</td>
    </tr>
    <tr>
      <th>Email ID</th>
      <td>: {{ currentStudent?.emailId }}</td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td>: {{ currentStudent?.dateOfBirth }}</td>
    </tr>
    <tr>
      <th>Enrolled Course</th>
      <td>: {{ currentStudent?.enrolledCourse }}</td>
    </tr>

    <tr>
      <th>Phone Number</th>
      <td>: {{ currentStudent?.phoneNumber }}</td>
    </tr>

    <tr>
      <th>Grade</th>
      <td>: {{ currentStudent?.grade }}</td>
    </tr>
  </table>
</section>
